<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-sidepanel (close)="drawer.toggle()"></app-sidepanel>
  </mat-drawer>

<div class="content">

@if (profit$ | async; as profit) {
  <div class="profit-container">
    <div>Total gagné : {{ profit.profit }} Kamas</div>
    <mat-form-field>
      <mat-label>Prix de la session</mat-label>
      <input matInput type="number" [ngModel]="profit.price" (ngModelChange)="updatePrice($event)">
    </mat-form-field>
    <button mat-icon-button (click)="drawer.toggle()" class="info">
      <mat-icon>info</mat-icon>
    </button>
  </div>
}



<app-players-list [players]="players$ | async"></app-players-list>

<button mat-button (click)="reset()"> reset</button>
</div>
</mat-drawer-container>

