:host{
  display: block;
  margin: auto;
  height: calc(100vh - 64px);

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled),
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled):hover {
    background: none;
  }

  .profit-container {
    display: flex;
    align-items: center;
    gap: 10rem;
  }

  .content {
    width: 70%;
    margin: auto;
  }

  .info {
    margin-left: auto;
  }

  ::ng-deep mat-drawer-container {
    height: calc(100% - 44px);
    background: none;
  }
}
