<div class="title">
  <h3>Guide d'utilisation</h3>
  <button mat-icon-button (click)="close.emit()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="spacer"></div>
<div class="spacer"></div>

<h4>Ajoute des Clients</h4>
<p>Tu peux appuyer sur Entrer ou cliquer sur "Ajouter le joueur"</p>
<img src="../../../../assets/ajout_client.png"/>

<div class="spacer"></div>

<h4>Ajoute les passages</h4>
<p>Qu'ils t'ont payé en appuyant sur +</p>
<img src="../../../../assets/ajout_session.png"/>

<div class="spacer"></div>

<h4>Renseigne le prix du passage</h4>
<p>Pour calculer ton profit</p>
<img src="../../../../assets/prix_u.png"/>

<div class="spacer"></div>

<h4>Et regarde les kamas s'accumuler</h4>
<p>En comptant le nombre de passages</p>
<img src="../../../../assets/passage_eff.png"/>

<div class="spacer"></div>
